* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(235, 21%, 11%);
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  transition: 0.3s;
}

.background-img {
  background-image: url(./images/bg-desktop-dark.jpg);
  background-size: cover;
  width: 100%;
  height: 240px;
  transition: 0.3s;
}

.container {
  max-width: 700px;
  position: relative;
  bottom: 250px;
  margin: 0 auto;
  padding: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  letter-spacing: 10px;
  padding-top: 50px;
}

.header__icon {
  background-image: url(./images/icon-sun.svg);
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.type-todo {
  width: 100%;
  height: 55px;
  background-color: hsl(235, 24%, 19%);
  display: grid;
  grid-template-columns: 10% auto;
  align-items: center;
  gap: 15px;
  margin: 30px 0;
  padding: 15px;
  transition: 0.3s;
}

.circle {
  width: 21px;
  height: 21px;
  justify-self: center;
  border: hsl(234, 11%, 52%) solid 1px;
  border-radius: 50%;
}

#todo-input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  caret-color: hsl(220, 98%, 61%);
  color: hsl(234, 11%, 52%);
}

.todo-list {
  background-color: hsl(235, 24%, 19%);
  transition: 0.3s;
  box-shadow: 0px 29px 24px 3px rgba(0, 0, 0, 0.49);
}

.list-item {
  width: 100%;
  height: 55px;
  display: grid;
  grid-template-columns: 10% auto 10%;
  align-items: center;
  gap: 15px;
  padding: 15px;
  font-size: 20px;
  border-bottom: solid 1px rgba(172, 172, 172, 0.2);
  position: relative;
}

.list-item:hover {
  background-color: hsl(237, 18%, 23%);
}

.checkmark {
  width: 21px;
  height: 21px;
  justify-self: center;
  border: hsl(234, 11%, 52%) solid 1px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  order: 1;
}

.icon-check {
  background-image: url(./images/icon-check.svg);
  width: 11px;
  height: 9px;
  opacity: 0;
}

.icon-x {
  background-image: url(./images/icon-cross.svg);
  background-size: cover;
  width: 18px;
  height: 18px;
  color: hsl(0, 0%, 0%);
  opacity: 0;
  order: 3;
  transition: 0.2s;
}

.list-item:hover > .icon-x {
  opacity: 1;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

label {
  color: hsl(234, 11%, 63%);
  font-size: 18px;
  cursor: pointer;
  order: 2;
}

.checkmark:hover,
label:hover + .checkmark {
  border: solid 1px;
  border-left-color: hsl(192, 100%, 67%);
  border-top-color: hsl(192, 100%, 67%);
  border-bottom-color: hsl(280, 87%, 65%);
  border-right-color: hsl(280, 87%, 65%);
}

.footer {
  width: 100%;
  height: 55px;
  background-color: hsl(235, 24%, 19%);
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 28px;
  justify-content: space-between;
  color: hsl(234, 11%, 52%);
  font-size: 14px;
  transition: 0.3s;
  box-shadow: 0px 29px 24px 3px rgba(0, 0, 0, 0.49);
}

.filters {
  list-style: none;
  display: flex;
  gap: 20px;
}

.filters li:hover {
  cursor: pointer;
  color: hsl(220, 95%, 75%);
}

.clear:hover {
  cursor: pointer;
  color: hsl(230, 7%, 67%);
}

.filters-mobile {
  width: 100%;
  height: 55px;
  background-color: hsl(235, 24%, 19%);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: hsl(234, 11%, 52%);
  font-size: 14px;
  list-style: none;
  margin-top: 25px;
  display: none;
  transition: 0.3s;
  box-shadow: 0px 29px 24px 3px rgba(0, 0, 0, 0.49);
}

.filters-mobile li:hover {
  cursor: pointer;
  color: hsl(220, 95%, 75%);
}

main + p {
  text-align: center;
  color: hsl(234, 11%, 52%);
  font-size: 14px;
  position: relative;
  bottom: 230px;
}

body.active {
  background-color: hsl(236, 33%, 92%);
}

.background-img.active {
  background-image: url(./images/bg-desktop-light.jpg);
}

.header__icon.active {
  background-image: url(./images/icon-moon.svg);
}

.todo-list.active,
.type-todo.active,
.footer.active,
.filters-mobile.active {
  background-color: hsl(0, 0%, 98%);
}

.list-item.active .checkmark {
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.list-item.active .icon-check {
  opacity: 1;
}

.list-item.active label {
  opacity: 0.6;
  text-decoration: line-through;
}

li.active {
  color: hsl(220, 98%, 61%);
}

.todo-list.active .list-item:hover {
  background-color: hsl(0, 0%, 95%);
}

/* Media */

@media (max-width: 480px) {
  .background-img {
    background-image: url(./images/bg-mobile-dark.jpg);
  }

  .background-img.active {
    background-image: url(./images/bg-mobile-light.jpg);
  }

  .filters {
    display: none;
  }

  .filters-mobile {
    display: flex;
  }

  #todo-input {
    font-size: 16px;
  }

  label {
    font-size: 15px;
  }
}
